* {
    margin:0;
    padding: 0;
    font-family: sans-serif
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #9099A2;
}

main, .start {
    width: 40%;
    height: 40%;
    background-color: #6D7993;
    position: absolute;
    top: 25%;
    left: 30%;
    border-radius: 20px;
    border: 1px solid white;
    /* box-shadow: -5px 5px 1px;  */
    text-align: center;
    font-size: 25px;
    padding-top: 10%;
    color: white;
}

/* colors: #6D7993 = escuro   / #9099A2 - claro */

select, button {
    width: 200px;
    height: 30px;
    margin: 7px 0px 0px 0px;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #6D7993;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    box-shadow: -1px 1px 0px; 
}

input{
    height: 30px;
    width: 200px;
    border: 1px solid gray;
    margin-top: 8px;
    text-align: center;

}

main {
    display: none;
}